body {
  position: relative;
  background-color: black;
  color: white;

}
#logo-viajes {
  height: 2rem;
}
hr {
  color: #22a4b9;
  background-color: #22a4b9;
  width:
}
.navbar-brand {
  font-weight:bold;
  color: white;
  ;
}
.carousel-control-prev {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0);
}
.carousel-control-next {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0);
}
.card {
  background-color: #22a4b9;
}
.navbar {
  background: transparent;
}
.my-nav {
    position: absolute;
    width: 100%;
    z-index: 999;
    background: none;
}
footer {
  background-color: #22a4b9;

}
